<div class="credit-wrapper">
  <div class="header padding-40">
    <h2>Расчет Кредита <span> {{car.manufacturer}} {{car.model}} {{car.class}}</span></h2>
    <div class="info-wrapper">
      <div class="img">
        <img src="{{car.imgSrc}}" alt="{{car.manufacturer}} {{car.model}}">
      </div>
      <div class="info">
        <div class="info-child-1">
          <div>{{car.manufacturer}} {{car.model}} <span class="color-lightgray">{{car.class}}</span></div>
          <div class="button-discount">Скидка {{car.discount}}</div>
          <div><a class="question-button" href="#">?</a></div>
        </div>
        <div class="info-child-2 color-lightgray">
          <div>{{car.engineType}} {{car.enginePower}}</div>
          <div>{{car.driveUnitType}}</div>
          <div>{{car.transmissionSteps}}</div>
          <div>Стоимость автомобиля</div>
        </div>
        <div class="info-child-3 color-lightgray">
          <div>{{car.engineVolume}}</div>
          <div>{{car.driveUnit}}</div>
          <div>{{car.transmission}}</div>
          <div class="color-black">{{car.price | customCurrency}}</div>
          <div><a class="question-button" href="#">?</a></div>
        </div>
      </div>
    </div>
    <div class="street color-lightgray"><span> <img src="assets/img/map-marker-alt-solid.svg" alt="map-marker"></span> Екатеринбург, ул. Начдива Снуфриева, 57A
      <span> <img src="assets/img/phone-alt-solid.svg" alt="map-marker"></span><span> +7(495) 777-6-505</span></div>
  </div>
  <div class="content padding-40">
    <h3 class="color-lightgray">Настройки кредита</h3>
    <form (ngSubmit)="openDialog()">
      <div class="calculation">
        <div class="calculation-div">
          <h4 class="color-lightgray">Первоначальный взнос</h4>
          <div class="grid-values">
            <span>{{valueInitialFee.value | customCurrency}}</span>
            <span class="color-lightgray">{{percentValueInitialFee}}%</span>
          </div>
          <input
            [formControl]="valueInitialFee"
            min="{{minInitialFee}}"
            max="{{maxInitialFee}}"
            step="{{stepInitialFee}}"
            type="range"
          >
        </div>
        <div class="calculation-div">
          <h4 class="color-lightgray">Готов платить в месяц</h4>
          <div class="grid-values">
            <span>До {{payPerMonth.value | customCurrency}}</span>
          </div>
          <input
            [formControl]="payPerMonth"
            min="1000"
            max="{{maxvaluePayPerMonth}}"
            step="1000"
            type="range"
          >
        </div>
        <div class="calculation-div color-lightgray">
          <h4>Срок кредита</h4>
          <div class="grid-values">
            <span><span>{{creditTerm.value}}</span> <span> месяцев</span></span>
            <span>{{year | year}}</span>
          </div>
          <input
            [formControl]="creditTerm"
            max="{{maxValueTermCredit}}"
            min="12"
            step="12"
            type="range"
          >
        </div>
      </div>
      <div class="creditApp">
        <div class="color-lightgray">
          <div>Сумма выплат</div>
          <div>от {{this.amountOfPayment | customCurrency}}</div>
        </div>
        <div class="color-lightgray">
          <div>Процентная ставка</div>
          <div>от {{this.percentRate}}%</div>
        </div>
        <div>
          <div class="color-lightgray">Платёж в месяц</div>
          <div>от {{this.monthPayment | customCurrency: true}}</div>
        </div>
        <input type="submit" class="button" value="Отправить заявку">
      </div>
    </form>
  </div>
  <div class="footer padding-40">
    <div class="credit-question">
      <div>
        <img src="assets/img/question-paper.png" alt="question-paper">
      </div>
      <div>
        <div>Возникли вопросы?</div>
        <div>ответим на любые вопросы по расчету кредита</div>
      </div>
      <button class="button-transparent">получить консультацию</button>
    </div>
  </div>
</div>
