<div class="wrapper-car-list" *ngFor="let manufacturer of manufacturers">
  <div class="block">
    <span class="text-bold">{{manufacturer.name}}</span>
    <a class="link" href="#">все модели <span>{{manufacturer.name}}</span></a>
  </div>
  <div class="items-wrapper">
    <a (click)="openDialog(car)" class="item" *ngFor="let car of manufacturer.carList">
      <img src="{{car.imgSrc}}" alt="{{car.manufacturer}} {{car.model}}">
      <span>{{car.quantity}} авто</span>
      <span>{{car.model}}</span>
      <span>{{car.price | currency : 'RUB' : 'symbol-narrow'}}</span>
    </a>
  </div>
</div>
