.wrapper-car-list {
  padding: 20px;
  background-color: #f9f9f9;
  max-width: 800px;
  margin: 0 auto;
}

.block {
  color: black;
  display: grid;
  grid-template-columns: repeat(2, 130px);
  justify-content: space-between;
}

.block span {
  text-transform: uppercase;
}

.manufacturer {
  font-weight: 600;
  font-size: 17px;
}

.manufacturer span {
  margin-left: 5px;
  color: lightgray;
}

.link {
  color: #ff5200;
  text-decoration: none;
}

.items-wrapper {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-gap: 20px;
  justify-content: space-between;
}

.item {
  color: black;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 10px;
  width: 230px;
  border: 3px solid white;
  border-radius: 20px;
}

.item img {
  margin: 0 auto;
  width: 200px;
}

.item span {
  margin-top: 5px;
}

.item span:nth-child(2) {
  font-size: 13px;
  color: lightgray;
}

.item span:nth-child(3) {
  font-size: 15px;
  font-weight: 500;
}

.item span:nth-child(4) {
  font-size: 17px;
  font-weight: 400;
}
